<section>
    <form>
        <fieldset>
            <legend>Renseignez un nouveau livre :</legend>
            <div>
                <label for="">Titre du livre</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Photo d'illustration</label>
                <input type="file" name="" id="">
            </div>
            <div>
                <label for="">Nom de l'auteur.rice</label>
                <input type="text" name="" id="">
            </div>
        </fieldset>
    </form>
</section>